:root{
    --desktop-shortcut-text-color: rgba(255, 255, 255, 0.76);
    --bottom-navbar-text-color: #fff;
    --main-menu-text-color: #fff;
    --main-background-wallpaper: url('../img/wallpapers/oficial_2.jpg');
    --bottom-active-app-background: #246d30;
    --bottom-navigator-container-height: 40px;
}

.client-os {
    font-family: OpenSans-regular;
    transition: filter 0.75s;
}

.client-os .client-os-wrapper {
    position: relative;
}

.client-os .client-os-wrapper .client-desktop-background {
    height: 100vh;
    width: 100vw;
    display: block;
    background-image: var(--main-background-wallpaper);
    background-position: center;
    background-size: cover;
    position: relative;
}

.client-os .client-os-wrapper .client-desktop-background::before {
    content: '';
    position: absolute;
    height: 256px;
    width: 256px;
    right: 30px;
    bottom: 60px;
    background-image: url('../img/logo/logo.png');
    background-size: cover;
    background-position: center;
    animation: logoFadeAnimation 1.5s infinite alternate ease-in-out;
    transition: all 3s;
}

.client-os .client-os-wrapper .client-desktop-background.logo-presentation::before {
    height: 512px;
    width: 512px;
    right: calc(50% - 256px);
    bottom: calc(50% - 256px);
}

@keyframes logoFadeAnimation {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.125);
    }
}

.client-os .client-os-wrapper .client-desktop-background::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(36, 36, 36, 0.527),rgba(0, 0, 0, 0.322));
}

.client-os .client-os-wrapper .client-desktop-background .client-desktop {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background: radial-gradient(#1f0e5742, #000000);
}

/*APPLICATIONS CONTAINER AND ITEMS*/
.application-shortcuts-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px 10px 40px 10px;
}

.application-shortcuts-container .application-shortcuts-content {
    height: 100%;
    width: 100%;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: column;
    align-content: flex-start;
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item {
    margin: 10px 0;
    height: 120px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item.hidden {
    display: none;
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item:hover {
    background: rgba(16, 86, 167, 0.472);
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item .application-icon {
    height: 60px;
    width: 100%;
    position: relative;
    top: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item[data-shortcut-for='password-recovery'] .application-icon {
    background-image: url('../img/icons/password.png');
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item[data-shortcut-for='cctv-remote-commander'] .application-icon {
    background-image: url('../img/icons/cctv.png');
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item[data-shortcut-for='command-prompt'] .application-icon {
    background-image: url('../img/icons/command-prompt.png');
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item[data-shortcut-for='radio-brocker'] .application-icon {
    background-image: url('../img/icons/radio-brocker.png');
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item[data-shortcut-for='text-document'] .application-icon {
    background-image: url('../img/icons/text-document.png');
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item[data-shortcut-for='file-explorer'] .application-icon {
    background-image: url('../img/icons/folder.png');
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item[data-shortcut-for='net-tools-network-scan'] .application-icon {
    background-image: url('../img/icons/network-scan.png');
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item[data-shortcut-for='remote-device-commander'] .application-icon {
    background-image: url('../img/icons/remote-device-commander.png');
}

.application-shortcuts-container .application-shortcuts-content .application-shortcut-item .application-name {
    display: block;
    width: 100%;
    text-align: center;
    font-size: .8rem;
    height: 50px;
    overflow: hidden;
    color: var(--desktop-shortcut-text-color);
    line-height: 20px;
    padding: 0 5px;
    margin-top: 10px;
    position: relative;
    bottom: -5px;
    cursor: pointer;
}

/*BOTTOM NAV MENU BAR ETC*/

.client-os .client-os-wrapper .client-desktop-background .client-desktop .bottom-navigator-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--bottom-navigator-container-height);
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 99999999;
}

.client-os .client-os-wrapper .client-desktop-background .client-desktop .bottom-navigator-container .bottom-navigator-content {
    height: var(--bottom-navigator-container-height);
    width: 100%;
    position: relative;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .left-zone {
    position: relative;
    height: var(--bottom-navigator-container-height);
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .left-zone .start-button{
    height: var(--bottom-navigator-container-height);
    width: 60px;
    color: var(--bottom-navbar-text-color);
    text-align: center;
    background: rgba(0, 0, 0, 0.377);
    cursor: pointer;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .left-zone .start-button::before {
    content: '';
    width: 30px;
    height: 30px;
    line-height: var(--bottom-navigator-container-height);
    background-image: url('../img/icons/linux-mint.png');
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-top: 6px;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .left-zone .start-button:hover {
    background: rgba(10, 61, 9, 0.349);
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .left-zone .active-apps-container {
    position: absolute;
    left: 65px;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    width: 600px;
    height: var(--bottom-navigator-container-height);
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .left-zone .active-apps-container .item {
    width: var(--bottom-navigator-container-height);
    height: var(--bottom-navigator-container-height);
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.418);
    margin-right: 5px;
    cursor: pointer;
    transition: all .2s;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .left-zone .active-apps-container .item:hover {
    background: rgba(255, 255, 255, 0.171);
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .left-zone .active-apps-container .item.active {
    background-color: var(--bottom-active-app-background);
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .left-zone .active-apps-container .item .icon {
    height: 100%;
    width: 100%;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .controls-area-container {
    display: inline-block;
    width: auto;
    height: var(--bottom-navigator-container-height);
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .controls-area-container .control-item {
    display: inline-block;
    height: var(--bottom-navigator-container-height);
    width: 30px;
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .controls-area-container .control-item .range-control {
    position: absolute;
    left: -55px;
    bottom: 100px;
    width: 150px;
    height: 30px;
    transform: rotate(270deg);
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .controls-area-container .control-item .range-control.hidden {
    display: none;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .controls-area-container .control-item .range-control input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background:rgba(0, 0, 0, 0.678);
    border-radius: 5px;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .controls-area-container .control-item .range-control input[type="range"]:focus,
.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .controls-area-container .control-item .range-control input[type="range"]:active {
    outline: none;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .controls-area-container .control-item .range-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(255, 255, 255);
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .controls-area-container .control-item .fa {
    display: block;
    text-align: center;
    line-height: var(--bottom-navigator-container-height);
    color: #fff;
}

.client-desktop .bottom-navigator-container .bottom-navigator-content .right-zone .clock-container {
    display: inline-block;
    color: var(--bottom-navbar-text-color);
    line-height: var(--bottom-navigator-container-height);
    width: 80px;
    text-align: center;
    cursor: default;
}

/*MAIN MENU NAVIGATOR*/
.client-os .client-os-wrapper .client-desktop-background .client-desktop .bottom-navigator-container .bottom-navigator-content .main-menu-container {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 420px;
    height: 600px;
    background: rgb(0, 0, 0);
    display: block;
}

.client-os .client-os-wrapper .client-desktop-background .client-desktop .bottom-navigator-container .bottom-navigator-content .main-menu-container.hidden {
    display:none;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content {
    position: relative;
    height: 100%;
    width: 100%;
}

/* MAIN MENU APPLICATION SHORTCUTS */
.client-os .client-os-wrapper .main-menu-container .main-menu-content .shortcuts-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .shortcuts-container .shortcut-item {
    height: 60px;
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .shortcuts-container .shortcut-item:hover {
    background-color: rgba(255, 255, 255, 0.14);
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .shortcuts-container .shortcut-item .app-icon {
    display: block;
    height: 100%;
    width: 60px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .shortcuts-container .shortcut-item:hover .app-icon {
    filter: grayscale(0);
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .shortcuts-container .shortcut-item .app-name {
    display: block;
    width: 100%;
    line-height: 60px;
    color: #fff;
    padding: 0 10px;
    text-transform: capitalize;
    font-size: .9rem;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: var(--bottom-navigator-container-height);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.322);
    cursor: pointer;
    border: unset;
    overflow: hidden;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item i {
    display: block;
    line-height: 40px;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item:hover i{
    display: inline-block;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item .title {
    display: inline-block;
    margin-left: -50px;
    opacity: 0;
    transition: all .3s;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item:hover .title {
    opacity: 1;
    margin-left: 5px;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item:active,
.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item:focus {
    outline: unset;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item:nth-child(1):hover {
    background-color: orangered;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item:nth-child(2):hover {
    background-color: darkgreen;
}

.client-os .client-os-wrapper .main-menu-container .main-menu-content .login-buttons-container .item:nth-child(3):hover {
    background-color: #960f0f;
}