#context-menu {
    display: none;
    position: fixed;
    height: max-content;
    bottom: 50px;
    right: 0;
    z-index: 9999;
}

#context-menu .option {
    background: #ffffff;
    cursor: pointer;
    color: #000;
    display: none;
    font-size: .9rem;
    position: relative;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}

#context-menu .option.visible {
    display: block;
}

#context-menu .option:hover {
    background: #eee;
}

#context-menu .option.paste .show-paste-options {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
    text-align: center;
    line-height: 42px;
}

#context-menu .option.paste .paste-items-container {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    overflow: hidden;
    border-radius: 10px;
    border-top-left-radius: 0;
}

#context-menu .option.paste:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#context-menu .option.paste:hover .paste-items-container {
    display: block;
}

#context-menu .option.paste .paste-items-container .item {
    background-color: #ffffff;
    padding: 10px;
    width: 190px;
    font-size: .9rem;
}

#context-menu .option.paste .paste-items-container .item:hover {
    background: #eee;
}