.dali-bg-container {
    position: absolute;
    left: 0;
    top: 0;
    font-family: monospace;
    color: #f00;
    background-color: rgb(0 0 0);
    font-size: 1.15rem;
    margin: 20px 0;
    width: auto;
    text-align: left;
    white-space: pre;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    width: 100%;
    text-decoration-line: overline;
    z-index: 999;
}

.dali-bg-container.hidden {
    display: none;
}