/*cctv remote commander*/
.loading-frame {
    display: block;
}

.loading-frame.hidden {
    display: none;
}

.loading-frame .message {
    display: block;
    padding: 15px 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

.lds-dual-ring {
    display: block;
    width: 80px;
    height: 80px;
    margin: 10px auto;
}

.lds-dual-ring::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 12px solid rgb(44, 138, 48);
    border-color: rgb(44, 138, 48) transparent rgb(44, 138, 48) transparent;
    animation: lds-dual-ring .8s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* remote commander login*/
.lds-ripple {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 120px;
    height: 120px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.71, 0.84, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 60px;
        left: 60px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 120px;
        height: 120px;
        opacity: 0;
    }
}
