body > .login-wrapper {
    position: fixed;
    height: 50vh;
    width: 100vw;
    z-index: 999;
    transition: all .7s;
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.login-gradient-bg {
    background-image: url('../img/wallpapers/oficial_1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body > .login-wrapper.top {
    top: 0;
    left: 0;
}

body > .login-wrapper.bottom {
    bottom: 0;
    left: 0;
}

body > .login-wrapper.top.hidden {
    top: -60vh;
}

body > .login-wrapper.bottom.hidden {
    bottom: -60vh;
}

.login-full-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.login-full-container::after {
    content: '';
    position: absolute;
    height: 256px;
    width: 256px;
    right: 30px;
    top: 30px;
    background-image: url('../img/logo/logo.png');
    background-size: cover;
    background-position: center;
    opacity: .5;
}

.login-full-container.hidden {
    display: none;
}

.login-full-container .login-container {
    height: auto;
    width: 500px;
    position: relative;
    padding: 20px;
    color: #fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.841), rgba(0, 0, 0, 0.963));
    border-radius: 15px;
}

.login-full-container .login-container .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.login-full-container .login-container .form .user-profile-image-container {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.login-full-container .login-container .form .user-profile-image-container .user-profile-image {
    height: 160px;
    width: 160px;
    
    background-color: rgba(48, 167, 214, 0);
    background-image: url('../img/icons/login.jpeg');
    background-size: cover;
    background-position: center;

    border-radius: 15px;
    border: 2px solid rgb(59, 121, 255);
}

.login-full-container .login-container .form .user-profile-user-name {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.294);
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 2rem;
}

.login-full-container .login-container .form input{
    margin: 10px 0;
    height: 50px;
    line-height: 46px;
    padding: 0 10px;
    border: 2px solid rgba(251, 250, 250, 0);
    font-size: 1rem;
    overflow: hidden;
    border-radius: 5px;
}


.login-full-container .login-container .form input.hidden {
    display: none;
}

.login-full-container .login-container .form input:hover,
.login-full-container .login-container .form input:focus,
.login-full-container .login-container .form input:active {
    outline: unset;
}

.login-full-container .login-container .form input {
    color: #fff;
    background: #fff;
}

.login-full-container .login-container .form input[type="text"],
.login-full-container .login-container .form input[type="password"] {
    transition-timing-function: all .5s;
    text-align: center;
    border-radius: 30px;
    background-color: #000 !important;
    color: #fff !important;
}

.login-full-container .login-container .form input[type="text"]::placeholder,
.login-full-container .login-container .form input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.432);
}

.login-full-container .login-container .form input[type="text"]:focus,
.login-full-container .login-container .form input[type="password"]:focus {
    border: 2px solid rgb(48, 144, 255) !important;
    background-color: #000 !important;
    color: #fff !important;
}

@keyframes errorLogin{
    from {
        border: 2px solid rgb(194, 27, 27);
        box-shadow: 0 0 10px 1px red;
    } to {
        border: 2px solid rgba(0, 0, 0, 0);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0);
    }
}

@keyframes successLogin{
    from {
        border: 2px solid rgb(13, 126, 32);
        box-shadow: 0 0 10px 1px rgb(25, 199, 69);
    } to {
        border: 2px solid rgba(0, 0, 0, 0);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0);
    }
}

.login-full-container .login-container .form input[type="password"].error {
    animation: errorLogin 2s;
}

.login-full-container .login-container .form input[type="password"].success {
    animation: successLogin 2s;
}

.login-full-container .login-container .form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.login-full-container .login-container .form input[type='submit'] {
    background-color: #295cbb;
    color: #fff;
    box-shadow: unset;
    cursor: pointer;
    font-weight: bold;
    transition: all .4s;
}

.login-full-container .login-container .form input[type='submit']:hover {
    background-color: #2654a8;
    border: 2px solid #5ff4ff;
}

.login-full-container .login-container .form .loading-gif-container {
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 30px;
    background-image: url('../img/gif/loading.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}