@font-face{
    font-family: OpenSans-semibold;
    src: url("../fonts/open-sans/OpenSans-SemiBold.ttf");
}

@font-face{
    font-family: OpenSans-regular;
    src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face{
    font-family: OpenSans-light;
    src: url("../fonts/open-sans/OpenSans-Light.ttf");
}


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::selection{
    color: inherit;
    background: rgba(0,0,0,0);
}

.selectionable::selection {
    background: rgb(9, 255, 0);
    color: rgb(0, 0, 0);
}

.pasteable::selection {
    background: rgb(9, 255, 0);
    color: rgb(0, 0, 0);
}

body {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background: #222;
    position: relative;
    font-family: OpenSans-regular;
}