.console-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background: #000;
    border-top: 5px solid #333;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    transition: all .6s;
    z-index: 999;
}

.console-container.closed {
    top: 100vh;
}

.console-container.closed  .console-content .header-controls-container .close-button {
    transform: rotate(-90deg);
}

.console-container .console-content {
    height: 100%;
    width: 100%;
    position: relative;
}

.console-container .console-content  .header-application-name {
    position: absolute;
    left: 0;
    bottom: 100%;
    padding: 5px 10px;
    color: #fff;
    background: #333;
}

.console-container .console-content .header-controls-container {
    position: absolute;
    right: 0;
    bottom: 100%;
    height: 40px;
    width: 200px;
    background: #333;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 5px 10px;
}

.console-container .console-content .header-controls-container .close-button {
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    background: #109426;
    border-radius: 10%;
    cursor: pointer;
    transform: rotate(90deg);
}

.console-container .console-content .header-controls-container .close-button:hover {
    background: #8bc34a;
}

.console-container .prompt {
    height: 100%;
    width: 100%;
    position: relative;
}

.console-container .prompt .content {
    padding: 10px;
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.console-container .prompt .content::-webkit-scrollbar {
    display: none;
  }

.console-container .prompt .content p.prompt-line {
    padding: 5px 0;
    padding: 5px 10px;
    border-left: 10px solid;
    margin: 5px 0;
}

.console-container .prompt .content p.prompt-line.error {
    color: red;
}

.console-container .prompt .content p.prompt-line.warning {
    color: rgb(255, 102, 0);
}

.console-container .prompt .content p.prompt-line.success {
    color: rgb(41, 131, 19);
}

/*
success
warning
*/

.console-container .prompt .content .prompt-line .user-info {
    font-weight: bold;
    width: 70px;
    display: inline-block;
    text-transform: capitalize;
}

.console-container .prompt .content .prompt-line .line-content {

}

.console-container .prompt .content .prompt-line .line-content .command {

}
