.police-comunication-container {
    background: #222;
    position: relative;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.police-comunication-container .police-application-widget {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.397);
    margin: 10px auto;
    padding: 40px 0;
    position: relative;
}

.police-comunication-container .police-application-widget.audio-spelling-widget {
    border: 2px solid #5e5e5e;
}

canvas#audio-spectrum {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(243, 55, 55, 0);
}

#police-audio-player {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(206, 0, 0);
    z-index: 1000;
}

#police-audio-player.playing {
    animation: blink .5s infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
}

@keyframes blink {
    from {
        background-color: rgba(0, 0, 0, 0);
    } to {
        background-color: red;
    }
}

