@keyframes displayItemNoSignal {
    from {
        
        background-image: none;
    } to {
        
        background-image: url(../img/camaras/hacked_dali_1.png);
    }
}

.proyector-screen-saver {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 999999;
}

.proyector-screen-saver.hidden {
    display: none;
}

.proyector-screen-saver .confirm-btn {
    display: flex;
    height: 200px;
    width: 700px;
    padding: 40px;
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(0, 149, 255);
    color: rgb(19, 255, 3);
    text-align: center;
    font-size: 3rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.proyector-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 85vh;
    width: 100vw;
}

.cameras-container {
    display: block;
    width: 100%;
    height: 100%;
}

.display-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.display-container .display-item {
    height: 33%;
    width: 33%;
    display: block;
    position: relative;
    overflow: hidden;
    border: 2px solid #000;
}

.display-item-logo-block {
    height: 33%;
    width: 33%;
    position: relative;
    overflow: hidden;
    background-color: black;
    

    color: #0cff49;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-family: sans-serif;
    border: 1px solid red;
    z-index: 1;
    text-transform: uppercase;
}

.display-item-logo-block::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: url('../img/logo/logo.png');
    background-position: center;
    background-size: 23%;
    background-repeat: no-repeat;
}

.display-container .display-item > .info {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    color: #194a14;
}

.display-container .display-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(36, 183, 77, 0.65);
    transition: all 1s;
    background-position: center;
    
}

.display-container .display-item.video-ko::after {
    background: url(../img/gif/cam-hacked.gif);
    background-size: cover;
    background-position: center;   
}

/*
.display-container .display-item.video-ko[data-video-name="CH-01"]::after {
    background: url(../img/gif/cam-hacked.gif)  no-repeat 0 0 fixed;
    background-size: 100%;
}

.display-container .display-item.video-ko[data-video-name="CH-02"]::after {
    background: url(../img/gif/cam-hacked.gif)  no-repeat 0 0 fixed;
    background-size: 100%;
}

.display-container .display-item.video-ko[data-video-name="CH-03"]::after {
    background: url(../img/gif/cam-hacked.gif)  no-repeat 0 0 fixed;
    background-size: 100%;
}

.display-container .display-item.video-ko[data-video-name="CH-04"]::after {
    background: url(../img/gif/cam-hacked.gif)  no-repeat 0 0 fixed;
    background-size: 100%;
}
*/

.display-container .display-item .video-item {
    position: absolute;
    left: -100px;
    top: -28px;
    height: 110%;
    width: 120%;
}

.display-container .display-item .video-lost-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: #fb2d2d;
    background: #000;
    z-index: 299;
    padding: 25% 0;

    border: 2px solid #fb2d2d;
    animation: displayItemNoSignal 1s infinite alternate-reverse;
    /* animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55); */

    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;

}

.display-container .display-item.active-video .video-lost-container {
    display: none;
}

.display-container .display-item:not(.active-video) .video-lost-container {
    display: flex;
}

.display-container .display-item .video-lost-container.hidden {
    display: none;
}

.display-container .display-item .video-lost-container .no-signal-message {
    display: none;
    font-size: 4rem;
}

.display-container .display-item .video-lost-container .reconnecting-message {
    display: none;
    font-size: 1.8rem;
    text-align: center;
    color: red;
}

.display-container .display-item .video-lost-container .reconnecting-message .timeout{
    width: 40px;
    text-align: center;
}

/*
"no-signal-message
reconnecting-message
timeout
*/

.display-container .display-item.display-item-top-left {
    top: 0;
    left: 0;
}

.display-container .display-item.display-item-top-right {
    top: 0;
    right: 0;
}

.display-container .display-item.display-item-bottom-left {
    bottom: 0;
    left: 0;
}

.display-container .display-item.display-item-bottom-right {
    bottom: 0;
    right: 0;
}

.police-comunication-container {
    width: 20%;
    height: 100%;
    /* Rest styles in the other css file*/
}