body {
    background-color: #111;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: OpenSans-regular;

    background: url('../img/wallpapers/oficial_1.jpg');
    background-size: cover;
    background-position: center;
}

@keyframes dali-masc-animation {
    from {
        color: rgb(0, 0, 0)
    } to {
        color: rgb(255, 255, 255);
    }
}

.vault-room-hack-notification-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 9999999;
}

.vault-room-hack-notification-container.hidden {
    display: none;
}

@keyframes vault-hack-message-blink {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.vault-room-hack-notification-container .hack-message {
    padding: 20px;
    text-transform: uppercase;
    background-color: darkred;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    border: 4px solid #fff;
    animation: vault-hack-message-blink 1s infinite alternate-reverse ease-in-out;
}

.heading-display-title {
    position: absolute;
    right: 2px;
    top: 2px;
    color: #fcff61;
    text-align: right;
    padding: 20px;
    font-size: 3rem;
    background: #000;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    padding-left: 100px;
    border-bottom-left-radius: 100px;
}

.auto-mode-wrapper-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.auto-mode-wrapper-container.hidden {
    display: none;
}

.password-login-container {
    display: block;
    width: 100%;
    margin: 20px auto;
}

.password-login-container.hidden {
    display: none;
}

.password-login-container #login-password {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 1.7rem;
    border: none;
    color: rgb(66, 214, 52);
    background-color: #000;
    text-align: center;
    outline: 1px solid rgb(66, 214, 52);
}

.password-login-container #login-password.error {
    outline: 1px solid red;
}

.password-login-container #login-password:focus {
    outline: 1px solid rgb(66, 214, 52);
}

.password-login-container #confirm-password{
    display: block;
    padding: 20px;
    font-size: 2rem;
    background-color: rgb(66, 214, 52);
    color: #000;
    text-align: center;
    border: none;
    display: block;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;
}

@keyframes blink-automode-container {
    from {
        border-color: rgb(244, 255, 85);
    } to {
        border-color: rgb(10, 255, 30);
    }
}

@keyframes blink-manualmode-container {
    from {
        border-color: rgb(255, 0, 0);
    } to {
        border-color: rgb(255, 161, 10);
    }
}

.auto-mode-wrapper-container .confirm-box-container {
    padding: 40px;
    max-width: 600px;
    background-color: #000;
    text-align: center;
    border: 4px solid;
    animation: blink-automode-container 2s infinite alternate ease-in-out;
}

.auto-mode-wrapper-container .confirm-box-container:not(.manual-mode) {
    animation: blink-manualmode-container .3s infinite alternate ease-in-out;
}

.auto-mode-wrapper-container .confirm-box-container:not(.auto-mode) .auto-mode-container {
    display: none;
}

.auto-mode-wrapper-container .confirm-box-container:not(.auto-mode) .manual-mode-container {
    display: block;
}

.auto-mode-wrapper-container .confirm-box-container.auto-mode .auto-mode-container {
    display: block;
}

.auto-mode-wrapper-container .confirm-box-container.auto-mode .manual-mode-container {
    display: none;
}

.auto-mode-wrapper-container .confirm-box-container .title {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
}

.auto-mode-wrapper-container .confirm-box-container .subtitle {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.auto-mode-wrapper-container .confirm-box-container .manual-mode-form {
    display: flex;
    height: 100px;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.auto-mode-wrapper-container .confirm-box-container .manual-mode-form .btn {
    display: block;
    width: 100%;
    color: #fff;
    padding: 20px;
    border: none;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.auto-mode-wrapper-container .confirm-box-container .manual-mode-form .btn.btn-success {
    background: green;
}

.auto-mode-wrapper-container .confirm-box-container .manual-mode-form .btn.btn-error {
    background: red;
}


.console-wrapper-container.hidden {
    display: none;
}

.console-wrapper-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-bottom: 40px;
    background: rgba(3, 3, 3, 0.835);
}

.console-wrapper-container .input-container,
.console-wrapper-container .output-container {
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(22, 151, 18);
    margin-right: 5px;
    font-family: monospace;
    overflow: scroll;
}

.console-wrapper-container .input-container {
    height: 70%;
    color: rgb(70, 255, 85);
    line-height: 2rem;
    font-size: 1.8rem;
    
}

.console-wrapper-container .input-container::-webkit-scrollbar {
    display: none;
}

.console-wrapper-container .output-container::-webkit-scrollbar {
    display: none;
}


.console-wrapper-container .input-container .input-line {
    position: relative;
}

.console-wrapper-container .input-container .input-line.content-line {

}

.console-wrapper-container .input-container .input-line.content-line::before {
    content: 'root@localhost $';
    color: #ffffff;
    background: #2b2b2b;
    margin-right: 5px;
    border-radius: 5px;
    padding: 0px 10px;
}


.console-wrapper-container .input-container .input-line.ssh-connection::before {
    content: 'ssh guest@172.16.10.60 $';
    color: #ffffff;
    background: #142f47;
}


.console-wrapper-container .output-container {
    height: 30%;
    font-size: 1.5rem;
    background: #000000e6;
}

.console-wrapper-container .output-container .output-line {
    color: rgb(92, 255, 92);
}

.console-wrapper-container .output-container .output-line.error {
    color: red;
}

.console-wrapper-container .input-container .cursor {
    
}

.system-footer-info-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #000;
    padding: 0 20px;
}

.system-footer-info-container .services-status-list {
    height: 40px;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.system-footer-info-container .services-status-list .service-item {
    padding-left: 30px;
    margin-right: 20px;
    position: relative;
}

.system-footer-info-container .services-status-list .service-item.ok {
    color: green;
}

.system-footer-info-container .services-status-list .service-item.ok::before {
    background-color: green;
}

@keyframes service-error-animation {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.system-footer-info-container .services-status-list .service-item.error {
    color: red;
}

.system-footer-info-container .services-status-list .service-item.error::before {
    background-color: red;
    animation: service-error-animation .2s infinite ease-in-out alternate;
}

.system-footer-info-container .services-status-list .service-item.warning {
    color: orange;
}

.system-footer-info-container .services-status-list .service-item.warning::before {
    background-color: orange;
}

.system-footer-info-container .services-status-list .service-item::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}