.widgets-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 800px;
    width: 260px;
}

.widgets-container .widgets-content {
    height: 100%;
    width: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-wrap: nowarp;
    flex-direction: column;
}

.widgets-container .widgets-content .widget-item {
    display: block;
    margin: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    cursor: default;
}

.widgets-container .widgets-content .widget-item .widget-title {
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0 0 0;
}

.widgets-container .widgets-content .widget-item .widget-description {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.795);
    padding: 5px 0;
    font-size: .9rem;
}

.widgets-container .widgets-content .widget-item .widget-content {
    padding: 10px;
    height: 100%;
    width: 100%;
}

/* SPECIFIC WIDGET STYLES */
.widget-item.cpu-usage-widget {
    height: 300px;
    width: 100%;
    background: rgba(142, 142, 142, 0.3);
}

.widget-item.cpu-usage-widget .widget-content .cpu-usagge-stats {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.widget-item.cpu-usage-widget .widget-content .cpu-usagge-stats .cpu-clock {
    position: relative;
    width: 10%;
    height: 0%;
    background: rgb(255, 255, 255);
    margin: 0 1px;
    transition: all .5s;
}

.widget-item.ram-usage-widget {
    background-color: rgba(142, 142, 142, 0.3);
}

.widget-item.ram-usage-widget .widget-content .ram-amount-container {
    height: 30px;
    width: 100%;
    border: 1px solid #fff;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.widget-item.ram-usage-widget .widget-content .ram-amount-container .amount-percent {
    position: absolute;
    left: 0;
    height: 100%;
    width: 28%;
    background-color: rgb(119, 158, 73);
    z-index: 0;
    transition: all .1s;
}

.widget-item.ram-usage-widget .widget-content .ram-amount-container .text {
    z-index: 1;
    font-size: .7rem;
}