/*WINDOW APP LAYOUT*/
:root {
    --window-outline-color: rgb(0, 0, 0);
}

.window-container {
    position: fixed;
    height: 490px;
    width: 820px;
    border-left: 1px solid var(--window-outline-color);
    border-bottom: 1px solid var(--window-outline-color);
    border-right: 1px solid var(--window-outline-color);
    overflow: hidden;
    z-index: 1;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.192);
}

.window-container::before {
    content: '';
    position: fixed;
    z-index: 0;
    display: none;
}

.window-container.show-back-offset::before {
    display: block;
    background-color: rgba(255,255,255,0.3);
    height: calc(100vh - var(--bottom-navigator-container-height));
    width: 50vw;
}

.window-container.show-back-offset.left::before {
    left: 0;
    top: 0;
}

.window-container.show-back-offset.right::before {
    right: 0;
    top: 0;
}

.window-container.atached-offset-window {
    height: calc(100vh - var(--bottom-navigator-container-height));
    width: 50vw;
}

.window-container.atached-offset-window.left {
    top: 0  !important;
    left: 0  !important;
}

.window-container.atached-offset-window.right {
    left: unset !important;
    top: 0  !important;
    right: 0  !important;
}

.window-container.focused-window {
    
}

.window-container:not(.focused-window) {
    filter: opacity(.45);
}

.window-container.not-opacity:not(.focused-window) {
    filter: opacity(.9);
}

.window-container[data-application-id="password-decryptor"] {
    height: 530px;
}

.window-container[data-application-id="cctv-remote-commander"] {
    height: 600px;
}

.window-container[data-application-id="password-unhasher"] {
    height: 580px;
}

.window-container[data-application-id="command-prompt"] {
    height: 700px;
    width: 1100px;
}

.window-container[data-application-id="global-app-launcher"] {
    height: 800px;
    width: 560px;
    background: #000;
    top: 0;
    left: 0;
}


.window-container.hidden,
.window-container.minimized {
    display: none;
}

.window-container .window-content {
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0, 0, 0, 0.685));
    padding: 30px 0px 0px 0px;
}

.window-container .window-content .window-header-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 100%;
    background: var(--window-outline-color);
    cursor: move;
}

.window-container .window-content .window-header-container .window-header-content {
    position: relative;
    height: 100%;
    width: 100%;
}

.window-container .window-content .window-header-container .window-header-content .window-title {
    line-height: 30px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    font-weight: bold;
    font-size: .8rem;
}

.window-container .window-content .window-header-container .window-header-content .window-header-controls-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 160px;
    background: linear-gradient(to left, var(--window-outline-color) 80%, rgba(1, 95, 6, 0));
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.window-container .window-content .window-header-container .window-header-content .window-header-controls-container .window-control {
    line-height: 26px;
    height: 26px;
    width: 26px;
    text-align: center;
    background: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    margin: 2px;
    cursor: pointer;
}

.window-container .window-content .window-header-container .window-header-content .window-header-controls-container .window-control.minimize {
    background: rgba(17, 143, 17, 0);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0);
}

.window-container .window-content .window-header-container .window-header-content .window-header-controls-container .window-control.minimize:hover {
    background: rgb(255, 146, 57);
    box-shadow: 0 0 10px 1px rgb(255, 146, 57);
}

.window-container .window-content .window-header-container .window-header-content .window-header-controls-container .window-control.close {
    background: rgba(187, 16, 16, 0);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0);
}

.window-container .window-content .window-header-container .window-header-content .window-header-controls-container .window-control.close:hover {
    background: rgb(255, 40, 40);
    box-shadow: 0 0 10px 1px red;
}

/*WINDOW APPLICATION WRAPPER*/

.window-container .window-content .window-application-wrapper {
    padding: 10px;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    line-height: 1rem;
    font-size: .9rem;
    font-weight: lighter;
    position: relative;
}
.window-container .window-content .window-application-wrapper .process-item > p {
    padding: 5px 0;
    color: rgb(109, 253, 84);
}

.window-container .window-content .window-application-wrapper .process-item > p.error {
    color: tomato;
}

.window-container .window-content .window-application-wrapper .process-item.main {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.445);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.window-container[data-application-id='text-document'] .window-content .window-application-wrapper .process-item.main {
    background: rgb(255, 255, 255);
    color: #000;
}

.window-container[data-application-id='password-recovery'] .window-content .window-application-wrapper .process-item.main {
    background-image: url('../img/wallpapers/firewall.jpg');
}

.window-container[data-application-id='password-unhasher'] .window-content .window-application-wrapper .process-item.main {
    background-image: url('../img/wallpapers/unhasher-wallpaper.jpg');
}

.window-container .window-content .window-application-wrapper .process-item.main .content {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
}