.content#net-tools-network-scan {
    background-color: rgb(0, 0, 0);
    font-family: OpenSans-regular;
}

.content#net-tools-network-scan .application-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(39, 165, 8);
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.content#net-tools-network-scan .application-wrapper .body-container {
    display: block;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
}

/*table items content*/
.content#net-tools-network-scan .application-wrapper .body-container table.table-content{
    display: inline-table;
    width: 100%;
    padding: 5px 10px;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr td {
    padding: 5px;
    cursor: default;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.table-heading td {
    font-weight: bold;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: center;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.item {
    background: rgb(0, 0, 0);
    border-radius: 10px;    
    overflow: hidden;
    color: rgb(0, 255, 35);
    font-size: .9rem;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.item.empty {
    display: none;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.item:hover td {
    background: #108c33;
    color: #fff;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.item.target-found td {
    animation: net-tools-target-found-animation-blink .5s infinite alternate;
    animation-timing-function: linear;
}

@keyframes net-tools-target-found-animation-blink {
    from {
        background-color: inherit;
        color: inherit;
    } to {
        background-color: orange;
        color: #fff;
    }
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.item td {
    text-transform: uppercase;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.item td.ip {
    width: 15%;
    text-align: right;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.item td.mac {
    width: 20%;
    text-align: center;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.item td.name {
    width: 40%;
    text-align: left;
}

.content#net-tools-network-scan .application-wrapper .body-container table.table-content tr.item td.type {
    width: 25%;
    text-align: left;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container {
    height: 30px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .filter-input-container {
    display: block;
    width: 25%;
    height: 100%;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .filter-input-container .filter-box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: rgb(195, 255, 195);
    cursor: pointer;
    background: #063c1f;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .filter-input-container .filter-box .filter-items {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    display: none;
    width: 100%;
    height: auto;
    cursor: pointer;
    line-height: 30px;
    background: #034e26;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .filter-input-container .filter-box .filter-items .item:hover {
    background: #01381b;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .filter-input-container .filter-box .filter-items .item.disabled {
    cursor: not-allowed;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .filter-input-container .filter-box:hover .filter-items {
    display: block;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .progress-container {
    display: flex;
    width: 75%;
    height: 100%;
    background: #d7ffcd;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .progress-container .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: #108c33;
    transition: all .5s;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .progress-container .progress-bar.completed {
    background-color: #063c1f;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .progress-container .progress-text {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    text-align: center;
    z-index: 999;
    padding: 2px 10px;
    background: #d7ffcd;
    border: 1px solid #106e15;
}

.content#net-tools-network-scan .application-wrapper .bottom-nav-container .progress-container .progress-text .percent {
    font-weight: bold;
}