/* data-application-id="global-app-launcher" */
#global-app-launcher-wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(10 18 74);
    font-family: monospace;
}

#global-app-launcher-wrapper .title {
    font-size: 1.8rem;
    padding: 20px;
    display: block;
    background: linear-gradient(to bottom, #0000008a, transparent);
    text-align: center;
    color: #7dfbd1;
}

#global-app-launcher-wrapper .title .subtitle{
    display: block;
    font-size: 1rem;
    color: #60ff6c;
}

#global-app-launcher-wrapper .tasks-container .task-item {
    padding: 10px;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #ffffff38;
    position: relative;
}

#global-app-launcher-wrapper .tasks-container .task-item.pending {
    color: rgba(255,255,255, 0.3);
    border-bottom: unset;
}

#global-app-launcher-wrapper .tasks-container .task-item.pending::after {
    content: 'Pending';
    color: rgb(255, 157, 0);
    background: #2b2300;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

#global-app-launcher-wrapper .tasks-container .task-item.current {
    color: yellow;
    border-bottom: 1px solid #fff;
}

#global-app-launcher-wrapper .tasks-container .task-item.current::after {
    content: '';
    font-weight: bold;
    animation: dotsAnimation 2s infinite;
}

#global-app-launcher-wrapper .tasks-container .task-item.current::before {
    content: 'Current';
    color: rgb(251, 255, 0);
    background: #384200;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes dotsAnimation {
    0% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75% {
        content: '...';
    }
}

#global-app-launcher-wrapper .tasks-container .task-item.done {
    color: #60ff6c;
}

#global-app-launcher-wrapper .tasks-container .task-item.done::after {
    content: 'Done';
    color: rgb(21, 255, 0);
    background: #002b23;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}