.content#command-prompt {
    height: 100%;
    width: 100%;
    position: relative;
}

.content#command-prompt .prompt-wrapper {
    font-size: 1.2rem;
}

.content#command-prompt .prompt-wrapper p.prompt-command-item {
    display: block;
    line-height: 1.7rem;
    color: #5affab;
    padding-left: 10px;
    margin: 5px 0;
}

.content#command-prompt .prompt-wrapper p.prompt-command-item.success {
    border-left: 2px solid #58bb38;
}

.content#command-prompt .prompt-wrapper p.prompt-command-item.error {
    border-left: 2px solid #e73434;
    color: #fff;
    background: #e73434;
    padding: 10px;
}

.content#command-prompt .prompt-wrapper p.prompt-command-item.warning {
    border-left: 2px solid #e4e734;
    color: #e4e734;
}

.content#command-prompt .prompt-wrapper p.prompt-command-item span.error-hint {
    color: #ffffff;
}

.content#command-prompt .prompt-input{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.2rem;
    height: 60px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.178);
}

.content#command-prompt .prompt-input #prompt-command-input {
    position: absolute;
    left: 0;
    height: 0;
    height: 60px;
    overflow: hidden;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    line-height: 60px;
    padding: 0 10px 0 40px;
    color: #fff;
    border: unset;
    font-family: OpenSans-regular;
    font-weight: bold;
    white-space: pre-line;
}

.content#command-prompt .prompt-input #prompt-command-input::selection {
    background-color: #fff;
    color: #000;
}

.content#command-prompt .prompt-input #prompt-command-input br {
    display: none;
}

.content#command-prompt .prompt-input::before {
    content: "\f138";
    font-family: FontAwesome;
    position: absolute;
    line-height: 60px;
    color: rgb(24, 207, 48);
    width: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.content#command-prompt .prompt-input #prompt-command-input:focus {
    outline: unset;
}