.content#cctv-remote-commander-wrapper {
    font-family: OpenSans-regular;
}

.content#cctv-remote-commander-wrapper .cctv-login-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    height: 100%;
    width: 100%;
    background-color: #3a3a3ab7;
    
    background-image: url('../img/wallpapers/cctv-window-default.jpg');
    background-position: center;
    background-size: cover;

    border: 1px solid #fff;
}

.content#cctv-remote-commander-wrapper .cctv-login-wrapper.hidden {
    display: none;
}

.content#cctv-remote-commander-wrapper .cctv-login-wrapper h2.title {
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #fff;
    display: block;
    background: #051d05c4;
    text-shadow: 1px 1px 1px #000;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container {
    height: auto;
    width: 50%;
    background: rgba(0, 0, 0, 0.85);
    padding: 20px 20px 50px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container .loading-frame .message {
    color: rgb(44, 138, 48);
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container .loading-frame .connection-steps {
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 1.1rem;
    overflow: hidden;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container .loading-frame .connection-steps .step-item {
    font-family: 'Lucida Sans';
    font-size: 1rem;
    color: #ccc;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container .loading-frame .connection-steps .step-item.success {
    color: rgb(109, 253, 84);
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container .loading-frame .connection-steps .step-item.hidden {
    display: none;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container input {
    display: block;
    margin: 15px 0;
    padding: 10px;
    border: unset;
    border-bottom: 1px solid rgb(50, 114, 61);
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    background: unset;
    font-family: OpenSans-regular;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container input.error {
    border-bottom: 2px solid red;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container input:focus,
.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container input:active {
    outline: unset;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container input[type="text"]:focus,
.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container input[type="text"]:active {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.514);
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container input[type="submit"] {
    background: rgb(50, 118, 57);
    border-bottom: unset;
    cursor: pointer;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container input[type="submit"].disabled {
    cursor: not-allowed;
    background: rgb(118, 50, 50);
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container .connection-error-messagge {
    color: red;
    font-weight: lighter;
    text-align: center;
    display: block;
    padding: 5px 0;
}

.content#cctv-remote-commander-wrapper .cctv-remote-login-container .login-form-container .connection-error-messagge.hidden {
    display: none;
}

.content#cctv-remote-commander-wrapper .commander-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #3a3a3ab7;
    border: 1px solid #108c33;

    background-image: url('../img/wallpapers/cctv-commander-wallpaper.jpeg');
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

.content#cctv-remote-commander-wrapper .commander-wrapper.hidden {
    display: none;
}

.content#cctv-remote-commander-wrapper .commander-wrapper h2.title{
    display: block;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #108c33;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .action-progress-container {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.473);
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .action-progress-container.hidden {
    display: none;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .action-progress-container .progress-container {
    height: 60px;
    width: 360px;
    border: 4px solid #fff;
    background-color: #000;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .action-progress-container .progress-container .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #881c1c;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .action-progress-container .progress-container .text {
    color: #fff;
    font-size: .9rem;
    text-align: center;
    z-index: 1;
    cursor: default;
}


.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container {
    display: block;
    height: 50%;
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.048);
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container > video {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container.active {
    height: 100%;
    width: 100%;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container:hover {
    border: 1px solid rgb(255, 255, 255);
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container.active:hover {
    border: 1px solid #000;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .camara-control-item {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(47, 100, 26, 0.486);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .camara-control-item .lds-dual-ring {
    display: none;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .camara-control-item.no-signal {
    background-color: rgb(0, 0, 0);
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container.video-ko {

}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container.video-ko > video {
    display: none;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container.video-ko {
    background: url(../img/gif/cam-hacked.gif)  no-repeat ;
    background-size: cover;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .camara-control-item.no-signal .lds-dual-ring {
    display: block;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-channel-text {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 10px;
    background: #108c33;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-grd-view-link {
    position: absolute;
    top: 40px;
    left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 40px;
    color: #108c33;
    display: none;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-grd-view-link:hover {
    color: #1bff00;
    cursor: pointer;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-ip-text {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    background: #108c33;
    display: none; 
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #108c33;
    display: none;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-controls .controls-container {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    height: 60px;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-controls .controls-container .control-item {
    display: block;
    width: 100%;
    height: 60px;
    cursor: pointer;
    padding: 5px 0;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-controls .controls-container .control-item i.fa {
    line-height: 35px;
    text-align: center;
    font-size: 25px;
    display: block;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-controls .controls-container .control-item span.title {
    display: block;
    line-height: 15px;
    font-size: .8rem;
    text-align: center;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-controls .controls-container.disabled .control-item *{
    cursor: not-allowed;
    color: #aaa;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container .cam-controls .controls-container .control-item:hover {
    background-color: rgba(0, 0, 0, 0.212);
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container:hover .cam-channel-text,
.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container:hover .cam-ip-text {
    display: block;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container.active .cam-controls {
    display: flex;
}

.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container.active .cam-channel-text,
.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container.active .cam-ip-text,
.content#cctv-remote-commander-wrapper .commander-wrapper .camara-control-section .camara-control-container.active .cam-grd-view-link {
    display: block;
}