.content#file-explorer-wrapper {
    background-color: #fff;
    padding: 0;
}

.content#file-explorer-wrapper .file-explorer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: OpenSans-regular;
}

.content#file-explorer-wrapper .file-explorer-container .header-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background: #eee;
    position: relative;
}

.content#file-explorer-wrapper .file-explorer-container .header-container .history-controls-container {
    display: flex;
    height: 100%;
    width: auto;
    flex-wrap: nowrap;
}

.content#file-explorer-wrapper .file-explorer-container .header-container .history-controls-container .item {
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
}

.content#file-explorer-wrapper .file-explorer-container .header-container .history-controls-container .item.disabled {
    color: rgba(0, 0, 0, 0.13);
}

.content#file-explorer-wrapper .file-explorer-container .header-container .history-controls-container .item::after {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.23);
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 50px;
    text-align: center;
    width: 50px;
    cursor: pointer;
}

.content#file-explorer-wrapper .file-explorer-container .header-container .history-controls-container .item.disabled::after {
    color: rgba(0, 0, 0, 0.13);
}

.content#file-explorer-wrapper .file-explorer-container .header-container .history-controls-container .item.disabled:hover::after {
    color: inherit;
    cursor: not-allowed;
}

.content#file-explorer-wrapper .file-explorer-container .header-container .history-controls-container .item:hover::after {
    color: rgba(0, 0, 0, 0.53);
}

.content#file-explorer-wrapper .file-explorer-container .header-container .history-controls-container .item.backward::after {
    content: '\f137';
    border-right: 1px solid rgba(0, 0, 0, 0.103);
}

.content#file-explorer-wrapper .file-explorer-container .header-container .history-controls-container .item.forward::after {
    content: '\f138 ';
}

.content#file-explorer-wrapper .file-explorer-container .body-container {
    height: 100%;
    width: 100%;
}

/* General Path styles */
.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active div[data-explorer-item] {
    display: none;
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > div[data-explorer-item] {
    display: block;
    height: 120px;
    width: 100px;
    border-radius: 15px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > div[data-explorer-item]:hover {
    background-color: rgba(126, 126, 126, 0.198);
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > div[data-explorer-item]::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > div[data-explorer-item]::after {
    content: attr(data-explorer-item-name);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    color: #333;
    font-size: .9rem;
    font-weight: bold;
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > .path::before {
    background-image: url('../img/icons/folder.png');
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > .file::before {
    background-image: url('../img/icons/file.png');
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > .file.text::before {
    background-image: url('../img/icons/text-document.png');
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > .file.iso::before {
    background-image: url('../img/icons/iso-file.png');
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > .file.pdf::before {
    background-image: url('../img/icons/pdf-file.png');
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > .file.movie-mkv::before {
    background-image: url('../img/icons/mkv-file.png');
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > .file.private-file::before {
    background-image: url('../img/icons/private-file.png');
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > .file.game-lol::before {
    background-image: url('../img/icons/game-lol.png');
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active > .file.game-gtavc::before {
    background-image: url('../img/icons/game-vc.png');
}

.content#file-explorer-wrapper .file-explorer-container .body-container div.path.active {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
}

.content#file-explorer-wrapper .file-explorer-container .footer-container {
    display: block;
    height: 30px;
    width: 100%;
    background: #eee;
} 

.content#file-explorer-wrapper .file-explorer-container .footer-container p.info {
    color: #666;
    padding: 0 10px;
    display: block;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    text-transform: capitalize;
}