.content#password-decryptor-wrapper ul.tested-keys{
    padding-bottom: 40px;
}

.content#password-decryptor-wrapper .message-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
}

.content#password-decryptor-wrapper ul.tested-keys li.item{
    display: block;
    line-height: 1rem;
    color: rgb(20, 132, 48);
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 3px;
    font-size: .7rem;
    overflow: hidden;
}

.content#password-decryptor-wrapper ul.tested-keys li.item:last-of-type {
    color: chartreuse;
}

.content#password-decryptor-wrapper .bottom-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 32px;
    line-height: 32px;
    padding-right: 10px;
    font-size: .9rem;
    width: 100%;
    background: rgb(13, 44, 4);
    color: rgb(85, 163, 48);
    text-align: right;
}

.content#password-decryptor-wrapper .progress-bar-container {
    position: absolute;
    left: 0;
    bottom: 35px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.content#password-decryptor-wrapper .progress-bar-container .progress-text {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.4rem;
    z-index: 100;
}

.content#password-decryptor-wrapper .progress-bar-container .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    background: linear-gradient(to right, rgb(18, 122, 23) 75%, rgba(6, 255, 27, 0.342), rgba(0, 0, 0, 0));
    height: 100%;
    width: 0;
    transition: all .6s;
    z-index: 10;
}