@keyframes stepActivePulse {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.05);
    }
}

.content#remote-commander-wrapper {
    background: linear-gradient( to top left , rgb(17, 52, 23) 50% , #215522 50%);
    font-family: OpenSans-regular;
}

.content#remote-commander-wrapper .login-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content#remote-commander-wrapper .login-wrapper.hidden {
    display: none;
}

.content#remote-commander-wrapper .loading-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content#remote-commander-wrapper .loading-wrapper.hidden {
    display: none;
}

.content#remote-commander-wrapper .control-panel-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto
}

.content#remote-commander-wrapper .control-panel-wrapper.hidden {
    display: none;
}

.content#remote-commander-wrapper .step-option {
    height: 180px;
    width: 180px;
    background-color:rgb(21, 182, 128);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    cursor: default;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.432));
    border-radius: 20px;
    overflow: hidden;
}

.content#remote-commander-wrapper .step-option.hidden {
    display: none;
}

.content#remote-commander-wrapper .step-option .step-progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: -1;
    transition: all .3s;
}

.content#remote-commander-wrapper .step-option .icon {
    height: 80%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.content#remote-commander-wrapper .step-option .title {
    height: 20%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.content#remote-commander-wrapper .step-option.active {
    border: 5px solid #fff;
    animation: stepActivePulse .5s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.content#remote-commander-wrapper .step-option.done {
    border: 5px solid rgb(84, 219, 31);
}

.content#remote-commander-wrapper .step-option.done .title {
    color: rgb(79, 230, 74);
}

.content#remote-commander-wrapper .step-option.disabled {
    filter: opacity(.25) grayscale(.25);
}

.content#remote-commander-wrapper .login-wrapper .step-option {
    height: 200px;
    width: 200px;
}

.content#remote-commander-wrapper .login-wrapper .step-option .title {
    font-size: 1.7rem;
}

.content#remote-commander-wrapper .control-panel-wrapper .step-option {
    background-color:rgba(36, 156, 255, 0);
}

.content#remote-commander-wrapper .login-container:hover {
    background: rgb(24, 129, 59);
    cursor: pointer;
}

.content#remote-commander-wrapper .credits-container {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9999;
    color: rgba(255, 255, 255, 0.39);
    padding: 5px;
}

.content#remote-commander-wrapper .loading-container {
    background-color: rgba(0, 0, 0, 0);
}

.content#remote-commander-wrapper .login-container .icon {
    background-image: url(../img/icons/ethernet.png);
}

.content#remote-commander-wrapper .antivirus-container .icon {
    background-image: url(../img/icons/antivirus.png);

}
.content#remote-commander-wrapper .privileges-container .icon {
    background-image: url(../img/icons/root.png);

}
.content#remote-commander-wrapper .prompt-container .icon {
    background-image: url(../img/icons/prompt.png);

}
.content#remote-commander-wrapper .script-upload-container .icon {
    background-image: url(../img/icons/upload.png);

}
.content#remote-commander-wrapper .run-script-container .icon {
    background-image: url(../img/icons/run.png);
}
.content#remote-commander-wrapper .done-container .icon {
    background-image: url(../img/icons/exit.png);

}