.content#main-password-recovery-wrapper h2 {
    display: block;
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4rem;
    text-shadow: 1px 1px 1px #000;
    font-family: monospace;
    color: #30b30f;
    border-bottom: 1px solid;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #36ff2a2b);
}

.content#main-password-recovery-wrapper .ip-address-form {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background: rgba(3, 3, 3, 0.719);
}

.content#main-password-recovery-wrapper .ip-address-form .message {
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: bold;
}

.content#main-password-recovery-wrapper .ip-address-form .ip-address-form-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    justify-content: space-around;
}

.content#main-password-recovery-wrapper .ip-address-form .ip-address-form-container input {
    width: 24%;
    display: block;
    outline: none;
    border: 2px solid rgb(8, 241, 117);
    background: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color:rgb(8, 241, 117);
    text-align: center;
}

.content#main-password-recovery-wrapper .ip-address-form .ip-address-form-container input.error {
    border: 2px solid rgb(185, 18, 18);
    color:  rgb(185, 18, 18);
}

.content#main-password-recovery-wrapper .ip-address-form .ip-address-form-container input::placeholder {
    color: rgba(8, 241, 117, 0.212);
}

.content#main-password-recovery-wrapper .main-action-button {
    display: block;
    margin: 20px auto;
    width: 480px;
    height: 52px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    line-height: 52px;
    background: #222;
    color: #fff;
    cursor: pointer;
    border: 2px solid #333;
}

.content#main-password-recovery-wrapper .main-action-button.error {
    color: rgb(185, 18, 18);
    cursor: not-allowed;
}

.content#main-password-recovery-wrapper .main-action-button:hover {
    border: 2px solid rgb(8, 241, 117);
}

.content#main-password-recovery-wrapper .main-action-button:focus {
    outline: unset;
    background: rgb(6, 59, 11);
}

.content#main-password-recovery-wrapper .main-action-button.error:focus {
    outline: unset;
    background: rgb(27, 6, 6);
}