.content#password-unhasher-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    cursor: default;
}

.content#password-unhasher-wrapper .unhasher-header {
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
}

.content#password-unhasher-wrapper .unhasher-body {
    height: 100%;
    background: rgba(0, 0, 0, 0.84);
    display: block;
}

.content#password-unhasher-wrapper .unhasher-footer {
    height: 50px;
    display: block;
    line-height: 50px;
    padding: 0 20px;
    background: #000;
    border-top: 1px solid #1bff00;
    font-family: OpenSans-regular;
}

.content#password-unhasher-wrapper .unhasher-body .unhasher-table {
    height: 100%;
    width: 100%;
}

.content#password-unhasher-wrapper .unhasher-body .unhasher-table tr {
    height: 10%;
}

.content#password-unhasher-wrapper .unhasher-body .unhasher-table tr td {
    width: 5%;
    text-align: center;
    color: #1bff00;
    background: #000000;
    transition: all .5s;
}

.content#password-unhasher-wrapper .unhasher-body .unhasher-table tr td.finded {
    color: #000000;
    background: #1bff00;
}

.content#password-unhasher-wrapper .unhasher-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: red;
}

.content#password-unhasher-wrapper .unhasher-footer .block {

}

.content#password-unhasher-wrapper .unhasher-footer .block.success {
    display: block;
    width: 100%;
    text-align: center;
    transition: all .6s;
}

.content#password-unhasher-wrapper .unhasher-footer .block.success::before {
    content: 'Unhashed password found: ';
    color: #fff;
}