@keyframes textBlink {
    from {
        color: inherit;
        box-shadow: 0 0 20px 5px inherit;
    } to {
        color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0);
    }
}

@keyframes circleBlink {
    from {
        transform: scale(1);
        background-color: rgba(255, 0, 0, 0.418);;
    } to {
        transform: scale(1.3);
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes threePoints {
    0% {content: '';}
    25% {content: '.';}
    50% {content: '..';}
    75% {content: '...';}
}

.content#radio-brocker-wrapper {
    background-color: rgb(0, 0, 0);
}

.content#radio-brocker-wrapper .pre-execution-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url(../img/wallpapers/radio-brocker-login.jpg);
    background-size: cover;
    background-position: center;
    font-family: OpenSans-regular;
}

.content#radio-brocker-wrapper .pre-execution-wrapper.hidden {
    display: none;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .start-scan-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .start-scan-wrapper.hidden {
    display: none;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .start-scan-wrapper .welcome-message-box {
    padding: 20px;
    background: rgb(0, 0, 0);
    border: 1px solid #6a0f0c;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .start-scan-wrapper .welcome-message-box .title {
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .start-scan-wrapper .welcome-message-box .subtitle {
    display: block;
    padding: 20px 0;
    font-size: 1rem;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .start-scan-wrapper .welcome-message-box .start-scan-button {
    padding: 20px 40px;
    display: block;
    background: #a70101;
    color: #fff;
    font-size: 2rem;
    border: 2px solid #fff;
    cursor: pointer;
    text-align: center;
    margin: 20px auto;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .start-scan-wrapper .welcome-message-box .start-scan-button:hover {
    background: #660707;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper .searching-progress-container {
    height: 300px;
    width: 300px;
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper .searching-progress-container .searching-text {
    position: absolute;
    bottom: 100%;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 2rem;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper .searching-progress-container .searching-text::after {
    content: '';
    animation: threePoints;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper .searching-progress-container .searching-text.finally::after {
    display: none;
    animation: unset;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper .searching-progress-container canvas#radio-brocker-scaning {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper .searching-progress-container .percentage-text {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    background: radial-gradient(red, black);
    height: 225px;
    width: 225px;
    border-radius: 50%;
    line-height: 225px;
    position: relative;
    z-index: 998;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper .searching-progress-container .percentage-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.418);
    border-radius: 50%;
    animation: circleBlink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 997;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper .searching-progress-container .percentage-text.disabled::before {
    display: none;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .searching-wrapper.hidden {
    display: none;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper.hidden {
    display: none;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content {
    padding: 20px;
    position: relative;
    background: #000000d4;
    width: 90%;
    border: 1px solid #7f0f0c;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .error-not-found {
    display: block;
    padding: 10px 0;
    text-align: center;
    background: #7f0f0c;
    font-size: 1.1rem;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .error-not-found .rescan {
    display: block;
    line-height: 2rem;
    font-weight: bold;
    border: 1px solid;
    width: 40%;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .error-not-found .rescan:hover {
    background: rgba(0,0,0,0.4);
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .title {
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
    cursor: default;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list {
    padding: 20px 0;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list .item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #111;
    margin: 5px 0;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list .item.heading {
    font-weight: bold;
    background: none;
    cursor: default;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list .item:not(.heading):hover {
    cursor: pointer;
    background: #333;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list .item .item-value {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list .item:not(.heading) .item-value {
    border-right: 1px solid #222;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list .item .item-value.checkbox {
    position: relative;
    width: 70px;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list .item:not(.heading) .item-value.checkbox::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 1px solid #fff;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list .item.target:not(.heading) .item-value.checkbox::after {
    border: unset;
    background-color: rgb(13, 85, 31);
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .radio-transmissor-list .item.target:not(.heading) {
    background-color: rgb(15, 117, 41);
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .start-attack {
    display: block;
    width: 75%;
    padding: 20px 40px;
    font-size: 1.6rem;
    background: #820b0b;
    border: 2px solid #fff;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .start-attack:hover {
    background: #5a0808;
}

.content#radio-brocker-wrapper .pre-execution-wrapper .list-targets-wrapper .list-content .start-attack.disabled {
    cursor: not-allowed;
    background: #222;
}

.content#radio-brocker-wrapper .execution-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content#radio-brocker-wrapper .execution-wrapper.hidden {
    display: none;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    position: relative;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container {
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.left table {
    width: 100%;
    height: 100%;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.right table {
    width: 100%;
    height: 80%;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container table tr {
    display: inline-table;
    width: 100%;
    height: 10%;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container table tr td {
    width: 10%;
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container table tr.matched td{
    color: grey;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container table tr.current td{
    background: linear-gradient(to top, green, #000);
    border-bottom: 1px solid rgb(36, 202, 58);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.right table tr td {
    width: 50%;
    color: rgba(255, 255, 255, 0.109);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.right table tr td.match {
    color: rgb(110, 255, 53);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.right table tr td.text-off {
    color: rgba(0, 0, 0, 0);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.left {
    background-color: rgb(0, 0, 0);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.right {
    background-color: rgb(0, 0, 0);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.right .audio-spectre-container {
    height: 20%;
    width: 100%;
    background-size: 90%;
    background-position: center;
    background-image: url('../img/gif/audioSpectrum.gif');
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.right .audio-spectre-container::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 15%, rgba(44, 255, 44, 0.411) 50%, rgba(0, 0, 0, 0) 85%);
    z-index: 1000;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .execution-panel-container.right .audio-spectre-container::before {
    content: 'Radio Transmission:';
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    color: rgba(255, 255, 255, 0.363);
    font-size: .8rem;
    z-index: 9999;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper.step-1 .execution-panel-container.left table tr td.match {
    color: rgb(38, 255, 0);
    border: 1px solid rgba(38, 255, 0, 0.329);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper.step-3 .execution-panel-container.right table tr td:not(.match) {
    color: rgb(240, 70, 70);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper.step-3 .execution-panel-container.right .audio-spectre-container::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 15%, rgba(255, 44, 44, 0.411) 50%, rgba(0, 0, 0, 0) 85%);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper.step-3 .execution-panel-container table tr.current td {
    background: linear-gradient(to top, rgb(155, 8, 8), #000);
    border-bottom: 1px solid rgb(255, 54, 54);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper.step-3 .execution-panel-container.left table tr td.match {
    color: red;
    border: 1px solid rgba(255, 0, 0, 0.24);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper.step-6 .execution-panel-container.right .audio-spectre-container {
    background: none;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper.step-6 .execution-panel-container.right .audio-spectre-container::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 49%, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0) 49%);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .flex-center-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .flex-center-container .big-message-box {
    padding: 10px 80px;
    border: 2px solid #000;
    background-color: darkred;
    box-shadow: 0 0 20px 5px #ff000078;
    text-align: center;
    color: #fff;
    
    cursor: default;
    position: relative;
    transition: all .6s;

    animation: textBlink .5s infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.37, 0.38, 1, 1);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .flex-center-container .big-message-box .title {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .flex-center-container .big-message-box .subtitle {
    display: block;
    font-size: 1rem;
    padding: 15px 0;
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .flex-center-container .big-message-box .subtitle::before, 
.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .flex-center-container .big-message-box .subtitle::after {
    content: ' - ';
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .flex-center-container .big-message-box.completed {
    background: green;
    box-shadow: 0 0 20px 5px #07ff0078;
    animation: unset;
    color: rgb(72, 255, 0);
}

.content#radio-brocker-wrapper .execution-wrapper .body-wrapper .flex-center-container .big-message-box .percent-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.42);
    transition: all .3s;
}

.content#radio-brocker-wrapper .execution-wrapper .footer-wrapper {
    display: block;
    height: 30px;
    width: 100%;
    background: #000000;
    position: relative;
}

.content#radio-brocker-wrapper .execution-wrapper .footer-wrapper .progress-bar-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid darkred;
}

.content#radio-brocker-wrapper .execution-wrapper .footer-wrapper .progress-bar-container .progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 0%;
    background-color: darkred;
}

.content#radio-brocker-wrapper .execution-wrapper .footer-wrapper .progress-bar-container .percent-text-container {
    z-index: 1111;
}